.note
  overflow hidden
  padding 10px
  img 
    width 100%
.note-title
  font-size: 20px
.note-description
  font-size: 16px
.note-list
  padding 0
  margin 0
.note-left
  width: 49%;
  float: left;
.note-right
  width: 49%;
  float: right;
.note-title-sm
  font-size: 18px
  text-align center
.note-step
  font-size: 16px
  color: gray;
@media only screen and (max-width:750px)
  .note-left,.note-right
    float none
    width 100%
.note-top
  background:dodgerblue
  color #fff